# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lastcodeanalysissucceeded
*.ilk
*.pdb
bin/models/sopwith/sopwith.mtl
/external*
*include*
*lib*
*/x64/Debug*
*.filters
Computer Graphics Project/Computer Graphics Project.vcxproj
*.opendb
*.suo
*.db
*.suo
.vs/Computer Graphics Project/v14/.suo